[Unit]
Description=Display time on the Nixie tube clock.
After=multi-user.target

[Service]
ExecStart=/home/pi/NixieClock/NixieClock

[Install]
WantedBy=multi-user.target
